:root{
  /*header*/
  --header-background: #FFFFFF;
  --header-hover-focus: #2196F3;
  --header-main: #212121;
  --header-main2:  #757575;
  /*hero*/
  --hero-background: #2F303A;
  --hero-title: #FFFFFF;
  /*section*/
  --section-background: #E5E5E5;
  --section-title: #212121;
  --section-text: #757575;
  /*content*/
  --content-background: #F5F4FA;
  --content-title: #212121;
  --content-headline: #757575;
  /*footer*/
  --footer-color-logo: #FFFFFF;




}

body {
  font-family: Roboto, sans-serif ;  
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

button{
  cursor: pointer;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
}
/* ---------------------------HEADER-----------------------------*/

.header{
  background-color: var(--header-background);
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo{
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--header-hover-focus);
}

.logo-dark{
  color: var(--header-main);
}



.header-item{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--header-second);
}

.header-link:hover,
.header-link:focus{

  color: var(--header-hover-focus) ;
}

.header-mail,
.header-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--header-main2);
}

.header-mail:hover,
.header-mail:focus{
  color: var(--header-hover-focus);
}

.header-tel:hover,
.header-tel:focus{
  color: var(--header-hover-focus);
}

/*------------------Hero-----------------*/

.hero{
  background-color: var(--hero-background);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
/* or 136% */
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--hero-title);
}

.hero-btn{
font-weight: 700;
font-size: 16px;
line-height: 1.87;
/* identical to box height, or 187% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: var(--hero-title);
}

.hero-btn{
  background-color: var(--header-hover-focus);
}
.hero-btn:hover,
.hero-btn:focus{
  background-color: var(--header-hover-focus)
}

/*---------------------section----------------*/

.section{
  background-color: var(--section-background);
 padding-top: 94px;
 padding-bottom: 94px;
}

.section-pretitle{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--section-title);
}

.section-text{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */

letter-spacing: 0.03em;

color: var(--section-text);
}

.section-title{
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: var(--section-title)


}

/*------------------------Content---------------*/

.content{
  background-color: var(--content-background);
padding-top: 94px;
padding-bottom: 94px;
}

.content-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: var(--content-title);
}

.content-after-title{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--content-title);
}

.content-headline{
font-weight: 400;
font-size: 16px;
line-height: 1.19;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--content-headline);
}

/*------------Footer--------------*/

.footer{
  background-color: var(--hero-background);
padding-top: 60px;
padding-bottom: 60px;
}


.logo-white{
  color:var(--footer-color-logo)
}

.link-footer-address{
  font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */

letter-spacing: 0.03em;

color: var(--footer-color-logo);

}

.link-footer-tel,
.link-footer-link{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}

/*--------------------Navigation----------------*/

.navigation{
  background-color: var(--section-background);
padding-top: 94px;
padding-bottom: 94px;
}

.navigation-btn{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: var(--section-title);
}

.navigation-btn:hover,
.navigation-btn:focus{
  background-color: var(--header-hover-focus);
  color: var(--footer-color-logo);
}
.navigation-title{
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: var(--section-title);
}
.navigation-text{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
/* identical to box height, or 187% */

letter-spacing: 0.03em;

color: var(--header-main2);
}







